<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <title>Notes</title>
    </head>

    <body>
        <!--navigation bar-->
        <header>
            <nav>
                <ul>
                    <li class="img"><img src="/media/images/note.png" alt=""/></li>
                    <li><a href="/">Notes</a></li>
                    <li class="right">
                        <a href="{% url "add note" %}">Add Note</a>
                        <a href="{% url "profile" %}">Profile</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!--end navigation bar-->

        <div class="body">
            <!--headings-->
            <h1>Your Profile</h1>
            <!--end headings-->

            <!--profile details container TODO-->
            <div class="note-container">
                <h2>
                    {{ user.first_name }} {{ user.last_name }}
                    <img src="{{ user.image_url }}" alt=""/>
                </h2>
                <p>Age: {{ user.age }}</p>
                <div>
                    <p>All notes: {{ notes_count }}</p>
                </div>
                <div class="right">
                    <a class="button delete" href="{% url "delete profile" %}">Delete</a>
                </div>
            </div>
            <!--end profile details container-->
        </div>

        <!--footer-->
        <footer>
            <div>Python Web Basics Exam @SoftUni</div>
        </footer>
        <!--end footer-->
    </body>
</html>
