{% extends "core/base.html" %}
{% block main %}
    <div class="body">
        <h1>Enter your new data</h1>

        <!-- Profile Edit Form -->
        <div class="form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.budget.errors }}
                <label for="budget">Budget:</label>
                {{ form.budget }}
                {#                <input type="number" name="budget" value="1500" required="" id="budget">#}

                {{ form.first_name.errors }}
                <label for="firstName">First Name:</label>
                {{ form.first_name }}
                {#                <input type="text" name="first_name" value="Aleksandra" maxlength="15" required="" id="firstName">#}

                {{ form.last_name.errors }}
                <label for="lastName">Last Name:</label>
                {{ form.last_name }}
                {#                <input type="text" name="last_name" value="Raykova" maxlength="15" required="" id="lastName">#}

                {{ form.profile_picture.errors }}
                <label for="image">Profile Image:</label>
                {{ form.profile_picture }}
                {#                <input type="file" class="form-file" name="last_name" id="image">#}

                <!-- Profile Edit Button -->
                <input type="submit" value="Edit">
            </form>
        </div>
        <!-- End Profile Edit Form -->

    </div>
{% endblock %}
