<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit TODO</title>
    <link rel="stylesheet" href="/static/todo_app/index.css">
</head>
<body>
<h1>Fill out the form!</h1>
<div class="container">
    <form method="post" action='{% url 'update_todo' todo.id %}'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value='Submit'>
        <a class="btn" href="{% url 'index' %}">Return</a>
    </form>
</div>
</body>
</html>