{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'todo_app/index.css' %}">
</head>
<body>
<h1>My Todo List</h1>
{% if todos %}
    <div class="container">
        {% for todo in todos %}
            <div class="todo">
                <p>{{ todo.title }}</p>
                <div class="description">{{ todo.description }}</div>
                <a class="btn btn-primary" href='update/{{ todo.id }}'>Update</a>
                <a class="btn btn-primary" href='delete/{{ todo.id }}'>Delete</a>
            </div>
        {% endfor %}
        <a class="btn btn-primary" href="{% url 'create_todo' %}">Create</a>
    </div>
{% else %}
    <h2>No TODOs</h2>
    <h2>Go to <a href={% url "create_todo" %}>/createTodo</a> to create a new TODO</h2>
{% endif %}
</body>
</html>