<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/library.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Online Books Library</title>
</head>

<body>
    <div id="container">
        <header id="site-header">

            <!-- Navigation -->
            <nav class="navbar">
                <section class="navbar-dashboard">
                    <a href="{% url "home" %}">Dashboard</a>
                    <div id="user">
                        <span>Welcome, {{ profile.first_name }}</span>
                        <a class="button" href="{% url "add book" %}">Add Book</a>
                        <a class="button" href="{% url "profile" %}">Profile</a>
                    </div>
                </section>
            </nav>
        </header>

        <!-- Edit Profile Page -->
        <section id="edit-profile-page" class="edit">
            <form id="edit-form" action="#" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Edit Profile</legend>
                    {{ form.as_p }}
                    <input class="button submit" type="submit" value="Edit">
                </fieldset>
            </form>
        </section>

        <footer id="site-footer">
            <p>Python Web Basics Retake Exam @SoftUni</p>
        </footer>
    </div>
</body>

</html>
